DirectorySlash Off

RewriteEngine On

ErrorDocument 404 /404.html

RewriteRule ^dock/.*$ dock.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)$ $1.html [L]

RewriteCond %{THE_REQUEST} \s/([^?]*?)\.html[\s?] [NC]
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteRule ^dock/.*$ dock.html [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ 404.html [L]